apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "stack.fullname" . }}-postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: managed-csi
