apiVersion: v1
kind: Service
metadata:
  name: {{ include "stack.database.fullname" . }}
  labels:
    {{- include "stack.database.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: {{ include "stack.database.fullname" . }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "stack.database.fullname" . }}
  labels:
    {{- include "stack.database.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "stack.database.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ include "stack.database.fullname" . }}
    spec:
      containers:
        - name: postgres
          image: postgres:15
          env:
            - name: POSTGRES_DB
              value: "db"
            - name: POSTGRES_USER
              value: "admin"
            - name: POSTGRES_PASSWORD
              value: "admin"
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          emptyDir: {}
