global:
  image:
    registry: ""

replicaCount: 1
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

database:
  enabled: true
  teamId: "awesome-team"
  size: 1Gi
  instances: 1
  users: 
    backend_user: []
  databases: 
    db: backend_user
  preparedDatabases: {}

backend:
  image:
    repository: nayna9/backend
    pullPolicy: IfNotPresent
    tag: latest
  
  service:
    type: ClusterIP
    port: 1337

  resources: {}

  ingress:
    enabled: true
    className: ""
    annotations: 
      kubernetes.io/ingress.class: nginx
    hosts:
      - host: backend.stack.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls: []

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80

frontend:
  image:
    repository: nayna9/frontend
    pullPolicy: IfNotPresent
    tag: latest
  
  service:
    type: LoadBalancer
    port: 1337

  resources: {}

  ingress:
    enabled: false
    className: ""
    annotations: 
      kubernetes.io/ingress.class: nginx
    hosts:
      - host: frontend.stack.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls: []

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

nodeSelector: {}

tolerations: []

affinity: {}
