name: CI - Build & Push Docker Images

on:
  push:
    branches:
      - main
    paths:
      - "apps/backend/**"
      - "apps/frontend/**"
      - "apps/Dockerfile"
      - ".github/workflows/ci-docker.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Images
        run: |
          docker build -t nayna9/backend:latest ./backend
          docker push nayna9/backend:latest

          docker build -t nayna9/frontend:latest ./frontend
          docker push nayna9/frontend:latest
