name: CI - Build & Push Docker Images

on:
  push:
    branches:
      - main
    paths:
      - "apps/backend/**"  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build & Push Images
        run: |
          docker build -t nayna9/backend:latest ./apps//backend
          docker push nayna9/backend:latest

          docker build -t nayna9/frontend:latest ./apps/frontend
          docker push nayna9/frontend:latest
